html {
  height: auto;
}

header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
 background-color:  green;
}

.logo {
  display: flex;
  height: 100%;
  width: 80px;
  border: 1px solid white; 
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.titleName {
 
}

.mainForm {
  display: flex;
  flex-direction: column;
  height: 300px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;

}

body {
  display: flex;
  flex-direction: column;
  height:  100vh ;
  align-items: center;
  background-image: url('./images/background.png ');
  background-size: cover;
}

main{
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 100%;
  background-color: rgba(21, 33, 70, 0.39);

}